# Solution for Predicting Olympic Medal Count
We have a historical dataset on the modern Olympic Games, including all the Games from Athens 1896 to Rio 2012. We want to predict the number of medals for the 2016 Olympic Games. The dataset can be divided in three tables, the ground truth, country of olympics and the specific event with medals.\
Here are the attributes of our tables.

<p><c>
    <img src="dataset.png" alt="Olympic Logo" width=500/>
</c></p>

Here we provide a solution for predicting Olympic Medal Count in 2016. Now you need to **follow the provided solution and select a subset of features** you think is helpful for predicting the Medal Count of the coming Olympic Games  in Tokyo. You are required to finish the tasks below:
### Steps:

#### 1. learn about the dataset and the task of predicting Olympic Medal Count in the first cell called load data (input, ground truth, data, regressive model);
#### 2. load the suggested features from experts and Automatic algorithms and <span style="color:blue">check the features in the 3rd cell by clicking the button on the right of the cell</span>.
#### 3. Checked the information of the features in the table view and select a subset of features by ticking the checkbox, submit your selection by clicking the <span style="color:blue">blue button Submit Selection in the view</span>.
#### 4. Copy the feature ids and evaluate these features in the evaluation cell by pasting the id list in the <span style="color:blue">auto_human_feature_matrix.iloc[:,[feature id list]</span>.

#### You can select and evaluate the features iteratively or create new features from the three tables by yourself.

## Load data

In [3]:
# load data and groung truth
import os
import pandas as pd
import utils_original as utils
import foldCode1 as load_df


DATA_DIR = os.path.join(os.getcwd(),"data/olympic_games_data")
es = utils.load_entityset(data_dir=DATA_DIR)
groundtruth_table, countries_table, events_table, cutoff_times_gt, dates, labels = load_df.loadData(es, DATA_DIR)

/home/study816/suggest-features/naturalStudy_815/utils_original.py:152: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  countries['Country'] = countries['Country'].str.replace('*', '')

You can add new cells to print the 3 tables (groundtruth_table, countries_table, events_table) and the input (dates) and labels.

## <span style="color:brown">Generate Features</span> (Edit)

In [4]:
select_human_feature_names, select_human_features = load_df.human_features() #7
all_features = pd.read_csv("features/natural_features_all_815.csv")
# check feature matrix
# all_features
all_features

,MEAN(countries_at_olympic_games.NUM_UNIQUE(medals_won.Event)),ABSOLUTE(MEAN(medals_won.Height)),MIN(countries_at_olympic_games.MEAN(medals_won.Height)),MEAN(medals_won.Height),MEAN(countries_at_olympic_games.COUNT(medals_won)),MEAN(countries_at_olympic_games.SUM(medals_won.Height)),MAX(countries_at_olympic_games.MIN(medals_won.Age)),MEAN(countries_at_olympic_games.SUM(medals_won.Weight)),"PERCENTILE(TREND(medals_won.Height, Year))",MIN(countries_at_olympic_games.SKEW(medals_won.Age)),...,COUNT(medaling_athletes WHERE athlete.Gender = Men),"TREND(countries_at_olympic_games.MAX(medals_won.Age), Year)",ABSOLUTE(SKEW(medals_won.Age)),PERCENTILE(COUNT(medals_won)),SUM(countries_at_olympic_games.MIN(medals_won.Age)),SKEW(countries_at_olympic_games.MAX(medals_won.Age)),SKEW(countries_at_olympic_games.MEAN(medals_won.Weight)),"RATIO(COUNT(athletes WHERE Gender = Men), COUNT(athletes WHERE Gender = Women))","RATIO(COUNT(athletes WHERE Gender = Women), COUNT(athletes.Athelete))",PERCENTILE(MEAN(medals_won.Height))
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,NaN,NaN,0.502273,0.0,NaN,NaN,10.0,0.0,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52,NaN,NaN,0.502273,0.0,NaN,NaN,10.0,0.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33,NaN,NaN,0.502273,0.0,NaN,NaN,10.0,0.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,NaN,NaN,0.502273,0.0,NaN,NaN,10.0,0.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7,NaN,NaN,0.502273,0.0,NaN,NaN,10.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,1.857143,173.846154,166.0,173.846154,1.857143,322.857143,31.0,107.142857,0.318681,-1.732051,...,1,-0.000156,0.073284,0.702273,177.0,-0.710342,-0.050544,10.0,0.0,0.341085
1147,2.285714,173.250000,158.0,173.250000,2.285714,396.000000,24.0,155.428571,0.538462,-0.585583,...,18,-0.000120,0.221115,0.720455,146.0,-0.178474,0.059369,10.0,0.0,0.294574
1148,1.444444,171.916667,157.0,171.916667,1.444444,229.222222,30.0,90.555556,0.395604,NaN,...,0,0.000147,1.194443,0.702273,233.0,0.838972,0.687104,0.0,1.0,0.240310
1149,1.000000,183.000000,183.0,183.000000,1.000000,183.000000,23.0,90.000000,NaN,NaN,...,1,NaN,NaN,0.429545,23.0,NaN,NaN,10.0,0.0,0.899225
1150,1.000000,175.000000,175.0,175.000000,1.000000,175.000000,40.0,67.000000,NaN,NaN,...,1,NaN,NaN,0.429545,40.0,NaN,NaN,10.0,0.0,0.410853

In [3]:
#check features

In [96]:
# MUST EDIT1: feature selection: input feature ID in the list below:
# feature_id = [0,1,34,96] #loc 0-98

# feature_id = [4,18,20,30,37,44,54,70,89,96,97,0,1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,19,21,22,23,24,25,26,27,28,29,31,32,33,34,35,36,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,90,91,92,93,94,95,98]
#          r2        mse Olympics Year
# 0  0.813924  61.717808    2016-08-05

# feature_id = [70]
# r2        mse Olympics Year
# 0  0.780269  72.880617    2016-08-05

# feature_id = [70, 89]
#  r2        mse Olympics Year
# 0  0.752792  81.994027    2016-08-05

# feature_id = [70, 89, 54]
# r2        mse Olympics Year
# 0  0.750798  82.655537    2016-08-05

# feature_id = [70, 0]
# r2        mse Olympics Year
# 0  0.821175  59.312608    2016-08-05

# feature_id = [70, 0, 58]
# r2        mse Olympics Year
# 0  0.819656  59.816678    2016-08-05

# feature_id = [70, 0, 14]
#  r2        mse Olympics Year
# 0  0.812218  62.283717    2016-08-05

# feature_id = [70, 0 ,18]
#  r2        mse Olympics Year
# 0  0.830903  56.086104    2016-08-05

feature_id = [70, 0 ,18, 15]
# r2       mse Olympics Year
# 0  0.844648  51.52713    2016-08-05

# feature_id = [70, 0 ,18, 15, 78]
#  r2        mse Olympics Year
# 0  0.843308  51.971846    2016-08-05


# feature_id = [70, 0 ,18, 15, 6,9,10,14,32,33,38,65,76,81,90]
# r2       mse Olympics Year
# 0  0.806419  64.20699    2016-08-05

# feature_id = [70, 0 ,18, 15, 10, 58]
# r2        mse Olympics Year
# 0  0.821115  59.332568    2016-08-05
# feature_id = [70, 0 ,18, 15, 58]
# r2       mse Olympics Year
# 0  0.839908  53.09938    2016-08-05
# feature_id = [70, 0 ,18, 15, 58, 78]
# r2        mse Olympics Year
# 0  0.83917  53.344246    2016-08-05

# feature_id = [70, 0 ,18, 15, 19]
# r2        mse Olympics Year
# 0  0.843927  51.766481    2016-08-05

# feature_id = [70, 0 ,18, 15, 19, 24]
# r2        mse Olympics Year
# 0  0.837741  53.818155    2016-08-05

# feature_id = [8,10,15,25,29,34,38,45,49,50,60,62,63,73,79,80,83,92,98]
#  r2        mse Olympics Year
# 0  0.729627  89.677538    2016-08-05

# feature_id = [8,10,15,25,29,34,38,45,49,50,60,62,63,73,79,80,83,92,98, 70, 0, 18]
#  r2        mse Olympics Year
# 0  0.810178  62.960304    2016-08-05

# OPTIONAL: write new features
# all_features.insert()

# OPTIONAL: you can check single feature:
# all_features.iloc[:, 0,1,2,3]

## Evaluate features with this given models

In [97]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import RobustScaler
import utils_original as utils

# parameters of the regressive model
pipeline_preprocessing = [("imputer",
                            SimpleImputer()),
                            ("scaler", RobustScaler(with_centering=True))]
splitter = utils.TimeSeriesSplitByDate(dates=dates, earliest_date=pd.Timestamp('01/01/2012')) # using data before and contain 2012 for training

# Optional: If you want to use all features
# all_X = all_features.values  

# MUST EDIT2: selection input, you can edit here to evalute feature subsets
all_X = all_features.iloc[:, feature_id].values

rf_regressor = RandomForestRegressor(
        n_estimators=200,
        random_state=50
    )
pipeline_reg = Pipeline(pipeline_preprocessing + [('rf_reg', rf_regressor)])
regression_score = utils.fit_and_score(all_X, labels, splitter, pipeline_reg)

print(regression_score)

         r2        mse Olympics Year
0  0.843927  51.766481    2016-08-05

In [24]:
# check the importance score of selected features
feature_imp = utils.get_feature_importances(pipeline_reg, 
#                                              all_features,
                                            # MUST EDIT3: 
                                            all_features.iloc[:, feature_id], # edit here to check the score of selected features
                                            labels, splitter, 100)
 
test_date = pd.Timestamp('08/05/2016')
feature_imp[test_date].reset_index(drop=True)
# feature_imp[test_date]['Feature']

    Importance                                            Feature
0     0.819173  SUM(medaling_athletes.NUM_UNIQUE(athletes.Athe...
1     0.059107  COUNT(medaling_athletes WHERE athlete.Gender =...
2     0.007908  MEAN(countries_at_olympic_games.NUM_UNIQUE(med...
3     0.005631  MEAN(countries_at_olympic_games.SUM(medals_won...
4     0.005121  MIN(countries_at_olympic_games.SKEW(medals_won...
..         ...                                                ...
94    0.000343             ABSOLUTE(NUM_UNIQUE(medals_won.Event))
95    0.000328                             MAX(medals_won.Weight)
96    0.000290  SKEW(countries_at_olympic_games.MIN(medals_won...
97    0.000262                       NUM_UNIQUE(medals_won.Event)
98    0.000018  MODE(medals_won.countries_at_olympic_games.Oly...

[99 rows x 2 columns]

In [25]:
for idx, feat in enumerate(feature_imp[test_date]['Feature']):
    print(idx, feat)

0 SUM(medaling_athletes.NUM_UNIQUE(athletes.Athelete))
1 COUNT(medaling_athletes WHERE athlete.Gender = Men)
2 MEAN(countries_at_olympic_games.NUM_UNIQUE(medals_won.Event))
3 MEAN(countries_at_olympic_games.SUM(medals_won.Height))
4 MIN(countries_at_olympic_games.SKEW(medals_won.Age))
5 MAX(countries_at_olympic_games.MIN(medals_won.Age))
6 PERCENTILE(NUM_UNIQUE(medals_won.Medal))
7 MEAN(countries_at_olympic_games.SUM(medals_won.Weight))
8 MEAN(countries_at_olympic_games.COUNT(medals_won))
9 ABSOLUTE(MEAN(medals_won.Height))
10 PERCENTILE(SKEW(medals_won.Weight))
11 MIN(countries_at_olympic_games.SUM(medals_won.Height))
12 MEAN(countries_at_olympic_games.MEAN(medals_won.Height))
13 MIN(countries_at_olympic_games.COUNT(medals_won))
14 MAX(countries_at_olympic_games.MEAN(medals_won.Weight))
15 MEAN(countries_at_olympic_games.MIN(medals_won.Height))
16 TREND(countries_at_olympic_games.SKEW(medals_won.Weight), Year)
17 PERCENTILE(TREND(medals_won.Weight, Year))
18 TREND(countries_at_olympic_games.SUM(medals_won.Height), Year)
19 PERCENTILE(TREND(medals_won.Height, Year))
20 PERCENTILE(gdpPppPerCapitaRank)
21 MEAN(countries_at_olympic_games.MEAN(medals_won.Age))
22 MEAN(countries_at_olympic_games.SUM(medals_won.Age))
23 PERCENTILE(MIN(medals_won.Height))
24 MEAN(countries_at_olympic_games.MIN(medals_won.Age))
25 MIN(atheletes.Age)
26 PERCENTILE(MAX(medals_won.Age))
27 MAX(countries_at_olympic_games.SUM(medals_won.Height))
28 MEAN(medals_won.Weight)
29 populationDensitySqMi
30 MIN(countries_at_olympic_games.MEAN(medals_won.Height))
31 TREND(countries_at_olympic_games.NUM_UNIQUE(medals_won.Event), Year)
32 PERCENTILE(MIN(medals_won.Weight))
33 MEAN(countries_at_olympic_games.MEAN(medals_won.Weight))
34 TREND(countries_at_olympic_games.COUNT(medals_won), Year)
35 SKEW(countries_at_olympic_games.MAX(medals_won.Age))
36 MEAN(countries_at_olympic_games.MAX(medals_won.Weight))
37 MAX(countries_at_olympic_games.COUNT(medals_won))
38 MEAN(atheletes.Age)
39 ABSOLUTE(populationDensitySqMi)
40 MAX(countries_at_olympic_games.MEAN(medals_won.Height))
41 MAX(atheletes.Age)
42 MEAN(countries_at_olympic_games.SKEW(medals_won.Age))
43 TREND(medals_won.Height, Year)
44 SKEW(countries_at_olympic_games.NUM_UNIQUE(medals_won.Medal))
45 SKEW(countries_at_olympic_games.SUM(medals_won.Height))
46 PERCENTILE(MEAN(medals_won.Weight))
47 MEAN(countries_at_olympic_games.MIN(medals_won.Weight))
48 MEAN(countries_at_olympic_games.SKEW(medals_won.Height))
49 MIN(countries_at_olympic_games.SUM(medals_won.Age))
50 TREND(medals_won.Weight, countries_at_olympic_games.Year)
51 PERCENTILE(SUM(medals_won.Weight))
52 TREND(countries_at_olympic_games.MAX(medals_won.Weight), Year)
53 PERCENTILE(MAX(medals_won.Weight))
54 MEAN(countries_at_olympic_games.NUM_UNIQUE(medals_won.Sport))
55 SUM(countries_at_olympic_games.MIN(medals_won.Age))
56 ABSOLUTE(TREND(medals_won.Height, Year))
57 MEAN(medals_won.Height)
58 COUNT(medals_won.Medal WHERE sports.Sport = Gymnastics)
59 SKEW(countries_at_olympic_games.SUM(medals_won.Weight))
60 TREND(countries_at_olympic_games.SUM(medals_won.Weight), Year)
61 PERCENTILE(SUM(medals_won.Height))
62 MIN(countries_at_olympic_games.SUM(medals_won.Weight))
63 PERCENTILE(SKEW(medals_won.Height))
64 NUM_UNIQUE(countries_at_olympic_games.MODE(medals_won.Sport))
65 ABSOLUTE(SKEW(medals_won.Height))
66 SUM(countries_at_olympic_games.MIN(medals_won.Height))
67 MEAN(countries_at_olympic_games.MAX(medals_won.Age))
68 PERCENTILE(COUNT(countries_at_olympic_games))
69 SKEW(countries_at_olympic_games.MAX(medals_won.Height))
70 ABSOLUTE(TREND(medals_won.Weight, Year))
71 COUNT(medaling_athletes WHERE athlete.Gender = Women)
72 ABSOLUTE(MEAN(medals_won.Weight))
73 PERCENTILE(SKEW(medals_won.Age))
74 RATIO(COUNT(athletes WHERE Gender = Men), COUNT(athletes WHERE Gender = Women))
75 MIN(countries_at_olympic_games.MAX(medals_won.Height))
76 TREND(countries_at_olympic_games.MAX(medals_won.Height), Year)
77 TREND(countries_at_olympic_games.MAX(medals_won.Age), Year)
78 SKEW(medals_won.Height)
79 MAX(countries_at_olympic_games.SKEW(medals_won.Height))
80 PERCENTILE(COUNT(medals_won))
81 ABSOLUTE(MAX(medals_won.Age))
82 TREND(countries_at_olympic_games.SKEW(medals_won.Age), Year)
83 SKEW(countries_at_olympic_games.MEAN(medals_won.Weight))
84 ABSOLUTE(TREND(medals_won.Age, Year))
85 SKEW(countries_at_olympic_games.NUM_UNIQUE(medals_won.Sport))
86 PERCENTILE(TREND(medals_won.Age, Year))
87 ABSOLUTE(SKEW(medals_won.Age))
88 PERCENTILE(MEAN(medals_won.Height))
89 RATIO(COUNT(athletes WHERE Gender = Women), COUNT(athletes.Athelete))
90 PERCENTILE(NUM_UNIQUE(medals_won.Event))
91 NUM_UNIQUE(countries_at_olympic_games.olympic_games.City)
92 TREND(countries_at_olympic_games.MIN(medals_won.Age), Year)
93 MAX(countries_at_olympic_games.SUM(medals_won.Weight))
94 ABSOLUTE(NUM_UNIQUE(medals_won.Event))
95 MAX(medals_won.Weight)
96 SKEW(countries_at_olympic_games.MIN(medals_won.Weight))
97 NUM_UNIQUE(medals_won.Event)
98 MODE(medals_won.countries_at_olympic_games.Olympic Games ID) = 1.0

### Optional: Try multiple regressive models

In [69]:
import foldCode2 as model

# other regressive models
linear_reg, logistic_reg, sgd_reg, knn_reg, mlp_reg, decisionTree_reg, extTree_reg, gb_reg, svc_reg, svr_reg, ard_reg = model.multipleReg_model()

In [98]:


pipeline_reg1 = Pipeline(pipeline_preprocessing + [('linear_reg', linear_reg)])
regression_score1 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg1)
print("linear_reg: ")
print(regression_score1)

pipeline_reg2 = Pipeline(pipeline_preprocessing + [('logistic_reg', logistic_reg)])
regression_score2 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg2)
print("logistic_reg: ")
print(regression_score2)

pipeline_reg3 = Pipeline(pipeline_preprocessing + [('sgd_reg', sgd_reg)])
regression_score3 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg3)
print("sgd_reg: ") 
print(regression_score3)

pipeline_reg4 = Pipeline(pipeline_preprocessing + [('knn_reg', knn_reg)])
regression_score4 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg4)
print("knn_reg: ")
print(regression_score4)

pipeline_reg5 = Pipeline(pipeline_preprocessing + [('mlp_reg', mlp_reg)])
regression_score5 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg5)
print("mlp_reg: ")
print(regression_score5)

pipeline_reg6 = Pipeline(pipeline_preprocessing + [('decisionTree_reg', decisionTree_reg)])
regression_score6 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg6)
print("decisionTree_reg: ")
print(regression_score6)

pipeline_reg7 = Pipeline(pipeline_preprocessing + [('extTree_reg', extTree_reg)])
regression_score7 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg7)
print("extTree_reg: ")
print(regression_score7)

pipeline_reg8 = Pipeline(pipeline_preprocessing + [('gb_reg', gb_reg)])
regression_score8 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg8)
print("gb_reg: ")
print(regression_score8)

pipeline_reg9 = Pipeline(pipeline_preprocessing + [('svc_reg', svc_reg)])
regression_score9 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg9)
print("svc_reg: ")
print(regression_score9)

pipeline_reg10 = Pipeline(pipeline_preprocessing + [('svr_reg', svr_reg)])
regression_score10 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg10)
print("svr_reg: ")
print(regression_score10)

pipeline_reg11 = Pipeline(pipeline_preprocessing + [('ard_reg', ard_reg)])
regression_score11 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg11)
print("ard_reg: ")
print(regression_score11)

linear_reg:
         r2        mse Olympics Year
0  0.880753  39.551928    2016-08-05

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

logistic_reg:
        r2        mse Olympics Year
0  0.71372  94.953488    2016-08-05
sgd_reg:
         r2        mse Olympics Year
0  0.855632  47.884077    2016-08-05
knn_reg:
         r2        mse Olympics Year
0  0.781628  72.429767    2016-08-05

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

mlp_reg:
         r2        mse Olympics Year
0  0.883095  38.775045    2016-08-05
decisionTree_reg:
         r2        mse Olympics Year
0  0.899415  33.361972    2016-08-05
extTree_reg:
         r2        mse Olympics Year
0  0.755154  81.210809    2016-08-05
gb_reg:
         r2        mse Olympics Year
0  0.833752  55.141384    2016-08-05
svc_reg:
         r2         mse Olympics Year
0  0.650511  115.918605    2016-08-05
svr_reg:
         r2        mse Olympics Year
0  0.870638  42.907013    2016-08-05
ard_reg:
        r2        mse Olympics Year
0  0.88057  39.612684    2016-08-05

/usr/local/lib/python3.8/dist-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

In [75]:
# check the importance score of selected features
feature_imp = utils.get_feature_importances(pipeline_reg8, # EDIT: model name
                                             all_features,
#                                             all_features.iloc[:, feature_id], # edit here to check the score of selected features
                                            labels, splitter, 300)
 
test_date = pd.Timestamp('08/05/2016')
feature_imp[test_date].reset_index(drop=True)

    Importance                                            Feature
0     0.812866  SUM(medaling_athletes.NUM_UNIQUE(athletes.Athe...
1     0.079258  COUNT(medaling_athletes WHERE athlete.Gender =...
2     0.015389  MEAN(countries_at_olympic_games.NUM_UNIQUE(med...
3     0.008403  MEAN(countries_at_olympic_games.COUNT(medals_w...
4     0.006811  MEAN(countries_at_olympic_games.SUM(medals_won...
..         ...                                                ...
94    0.000001  MEAN(countries_at_olympic_games.MEAN(medals_wo...
95    0.000000  MAX(countries_at_olympic_games.SUM(medals_won....
96    0.000000                PERCENTILE(SKEW(medals_won.Weight))
97    0.000000                  ABSOLUTE(SKEW(medals_won.Height))
98    0.000000  SKEW(countries_at_olympic_games.NUM_UNIQUE(med...

[99 rows x 2 columns]