# Solution for Predicting Olympic Medal Count
We have a historical dataset on the modern Olympic Games, including all the Games from Athens 1896 to Rio 2012. We want to predict the number of medals for the 2016 Olympic Games. The dataset can be divided in three tables, the ground truth, country of olympics and the specific event with medals.\
Here are the attributes of our tables.

<p><c>
    <img src="dataset.png" alt="Olympic Logo" width=500/>
</c></p>

Here we provide a solution for predicting Olympic Medal Count in 2016. Now you need to **follow the provided solution and select a subset of features** you think is helpful for predicting the Medal Count of the coming Olympic Games  in Tokyo. You are required to finish the tasks below:
### Steps:

#### 1. learn about the dataset and the task of predicting Olympic Medal Count in the first cell called load data (input, ground truth, data, regressive model);
#### 2. load the suggested features from experts and Automatic algorithms and <span style="color:blue">check the features in the 3rd cell by clicking the button on the right of the cell</span>.
#### 3. Checked the information of the features in the table view and select a subset of features by ticking the checkbox, submit your selection by clicking the <span style="color:blue">blue button Submit Selection in the view</span>.
#### 4. Copy the feature ids and evaluate these features in the evaluation cell by pasting the id list in the <span style="color:blue">auto_human_feature_matrix.iloc[:,[feature id list]</span>.

#### You can select and evaluate the features iteratively or create new features from the three tables by yourself.

## Load data

In [118]:
# load data and groung truth
import os
import pandas as pd
import utils_original as utils
import foldCode1 as load_df
import foldCode2 as our_model

DATA_DIR = os.path.join(os.getcwd(),"data/olympic_games_data")
es = utils.load_entityset(data_dir=DATA_DIR)
groundtruth_table, countries_table, events_table, cutoff_times_gt, dates, labels = load_df.loadData(es, DATA_DIR)

You can add new cells to print the 3 tables (groundtruth_table, countries_table, events_table) and the input (dates) and labels.

## <span style="color:brown">Generate Features</span> (Edit)

In [119]:
select_human_feature_names, select_human_features = load_df.human_features() #7
all_features = pd.read_csv("features/natural_features_all_815.csv")

# check feature matrix
all_features

,MEAN(countries_at_olympic_games.NUM_UNIQUE(medals_won.Event)),ABSOLUTE(MEAN(medals_won.Height)),MIN(countries_at_olympic_games.MEAN(medals_won.Height)),MEAN(medals_won.Height),MEAN(countries_at_olympic_games.COUNT(medals_won)),MEAN(countries_at_olympic_games.SUM(medals_won.Height)),MAX(countries_at_olympic_games.MIN(medals_won.Age)),MEAN(countries_at_olympic_games.SUM(medals_won.Weight)),"PERCENTILE(TREND(medals_won.Height, Year))",MIN(countries_at_olympic_games.SKEW(medals_won.Age)),...,COUNT(medaling_athletes WHERE athlete.Gender = Men),"TREND(countries_at_olympic_games.MAX(medals_won.Age), Year)",ABSOLUTE(SKEW(medals_won.Age)),PERCENTILE(COUNT(medals_won)),SUM(countries_at_olympic_games.MIN(medals_won.Age)),SKEW(countries_at_olympic_games.MAX(medals_won.Age)),SKEW(countries_at_olympic_games.MEAN(medals_won.Weight)),"RATIO(COUNT(athletes WHERE Gender = Men), COUNT(athletes WHERE Gender = Women))","RATIO(COUNT(athletes WHERE Gender = Women), COUNT(athletes.Athelete))",PERCENTILE(MEAN(medals_won.Height))
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,NaN,NaN,0.502273,0.0,NaN,NaN,10.0,0.0,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52,NaN,NaN,0.502273,0.0,NaN,NaN,10.0,0.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33,NaN,NaN,0.502273,0.0,NaN,NaN,10.0,0.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,NaN,NaN,0.502273,0.0,NaN,NaN,10.0,0.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7,NaN,NaN,0.502273,0.0,NaN,NaN,10.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,1.857143,173.846154,166.0,173.846154,1.857143,322.857143,31.0,107.142857,0.318681,-1.732051,...,1,-0.000156,0.073284,0.702273,177.0,-0.710342,-0.050544,10.0,0.0,0.341085
1147,2.285714,173.250000,158.0,173.250000,2.285714,396.000000,24.0,155.428571,0.538462,-0.585583,...,18,-0.000120,0.221115,0.720455,146.0,-0.178474,0.059369,10.0,0.0,0.294574
1148,1.444444,171.916667,157.0,171.916667,1.444444,229.222222,30.0,90.555556,0.395604,NaN,...,0,0.000147,1.194443,0.702273,233.0,0.838972,0.687104,0.0,1.0,0.240310
1149,1.000000,183.000000,183.0,183.000000,1.000000,183.000000,23.0,90.000000,NaN,NaN,...,1,NaN,NaN,0.429545,23.0,NaN,NaN,10.0,0.0,0.899225
1150,1.000000,175.000000,175.0,175.000000,1.000000,175.000000,40.0,67.000000,NaN,NaN,...,1,NaN,NaN,0.429545,40.0,NaN,NaN,10.0,0.0,0.410853

In [122]:
#check features

In [121]:
# OPTIONAL: write new features
# all_features.insert()

# OPTIONAL: you can check single feature:
# all_features.iloc[:, #id]

# MUST EDIT1: feature selection: input feature ID in the list below:
# feature_id = [18,20,37,44,54,70,89,96,97] #loc 0-98
feature_id = [0,1,3,5,7,10,18,20,21,22,25,37,44,54,62,63,70,71,75,77,83,84,88,89,96,97,98]

## Evaluate features with given models (no code changes needed --)put all models

In [111]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import RobustScaler
import utils_original as utils

# parameters of the regressive model
pipeline_preprocessing = [("imputer",
                            SimpleImputer()),
                            ("scaler", RobustScaler(with_centering=True))]
splitter = utils.TimeSeriesSplitByDate(dates=dates, earliest_date=pd.Timestamp('01/01/2012')) # using data before and contain 2012 for training

# default all features
# all_X = all_features.values  

# MUST EDIT2: selection input, you can edit here to evalute feature subsets
all_X = all_features.iloc[:, feature_id].values

###
rf_regressor = RandomForestRegressor(
        n_estimators=200,
        random_state=50
    )
pipeline_reg = Pipeline(pipeline_preprocessing + [('rf_reg', rf_regressor)])
regression_score = utils.fit_and_score(all_X, labels, splitter, pipeline_reg)

print(regression_score)
###

        r2       mse Olympics Year
0  0.81164  62.47543    2016-08-05

In [112]:
# check the importance score of selected features
feature_imp = utils.get_feature_importances(pipeline_reg, 
#                                              all_features,
                                            # MUST EDIT3: 
                                            all_features.iloc[:, feature_id], # edit here to check the score of selected features
                                            labels, splitter, 300)
 
test_date = pd.Timestamp('08/05/2016')
feature_imp[test_date].reset_index(drop=True)

    Importance                                            Feature
0     0.837070  SUM(medaling_athletes.NUM_UNIQUE(athletes.Athe...
1     0.058625  COUNT(medaling_athletes WHERE athlete.Gender =...
2     0.016192  MEAN(countries_at_olympic_games.NUM_UNIQUE(med...
3     0.012797  MEAN(countries_at_olympic_games.SUM(medals_won...
4     0.007449  MEAN(countries_at_olympic_games.SUM(medals_won...
5     0.005432                              populationDensitySqMi
6     0.004561                  ABSOLUTE(MEAN(medals_won.Weight))
7     0.004449  MEAN(countries_at_olympic_games.MIN(medals_won...
8     0.004409                    PERCENTILE(MAX(medals_won.Age))
9     0.004154                                 MAX(atheletes.Age)
10    0.003780                 PERCENTILE(SUM(medals_won.Weight))
11    0.003693  NUM_UNIQUE(countries_at_olympic_games.MODE(med...
12    0.003288                  ABSOLUTE(MEAN(medals_won.Height))
13    0.003145  COUNT(medals_won.Medal WHERE sports.Sport = Gy...
14    0.003111                            MEAN(medals_won.Height)
15    0.003049                    PERCENTILE(gdpPppPerCapitaRank)
16    0.002723                                MEAN(atheletes.Age)
17    0.002713      PERCENTILE(COUNT(countries_at_olympic_games))
18    0.002619             ABSOLUTE(NUM_UNIQUE(medals_won.Event))
19    0.002562                   PERCENTILE(SKEW(medals_won.Age))
20    0.002550                                 MIN(atheletes.Age)
21    0.002443  RATIO(COUNT(athletes WHERE Gender = Women), CO...
22    0.002270  RATIO(COUNT(athletes WHERE Gender = Men), COUN...
23    0.002086                PERCENTILE(MEAN(medals_won.Height))
24    0.001697  MAX(countries_at_olympic_games.SUM(medals_won....
25    0.001638                      ABSOLUTE(MAX(medals_won.Age))
26    0.001498  COUNT(medaling_athletes WHERE athlete.Gender =...

In [94]:
# all:
#         r2        mse Olympics Year
#0  0.812786  62.095205    2016-08-05

# feature_id = [18,20,37,44,54,70,89,96,97]  human only
#         r2        mse Olympics Year
# 0  0.804204  64.941826    2016-08-05

# robot only
#         r2        mse Olympics Year
# 0  0.76133  79.162217    2016-08-05

# feature_id = [0,1,3,5,7,10,18,20,21,22,25,37,44,54,62,63,70,71,75,77,83,84,88,89,96,97,98]  #70 SUM(medaling_athletes.NUM_UNIQUE(athletes.Athelete)) contributes the most
#         r2       mse Olympics Year
# 0  0.81164  62.47543    2016-08-05

# feature_id = [0,1,3,5,7,10,18,20,21,22,25,37,44,54,62,63,71,75,77,83,84,88,89,96,97,98]  #removing 70 SUM(medaling_athletes.NUM_UNIQUE(athletes.Athelete)) 
#         r2       mse Olympics Year
# 0  0.81652  60.856788    2016-08-05

# feature_id = [0,1,3,10,18,20,21,22,37,44,54,62,63,71,75,77,83,88,96,97,98]  去掉了带SUM的
#        r2        mse Olympics Year
# 0  0.805327  64.569233    2016-08-05

# feature_id = [0,1,3,5,7,10,12,18,20,21,22,23,25,33,35,37,39,40,44,45,54,57,62,63,68,70,71,74,75,77,83,84,86,88,93,96,97,98]  加上带SUM的
#        r2        mse Olympics Year
# 0  0.806529  64.170398    2016-08-05

# feature_id = [0,3,4,10,14,18,19,20,30,32,34,35,36,37,39,44,47,54,55,56,61,62,63,70,75,88,89,95,96,97,98]
#        r2        mse Olympics Year
# 0  0.804681  64.783574    2016-08-05

# feature_id = [0,3,4,10,14,18,19,20,30,32,34,35,36,37,39,44,47,54,55,56,61,62,63,70,75,88,95,96,97,98] 移除上述第二位影响因子 89  COUNT(medaling_athletes WHERE athlete.Gender = Men)
#        r2        mse Olympics Year
# 0  0.809306  63.249582    2016-08-05

### Optional: Try multiple regressive models

In [95]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import ExtraTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import LinearSVC
from sklearn.svm import LinearSVR
from sklearn.linear_model import ARDRegression

linear_reg = LinearRegression()
logistic_reg = LogisticRegression()
sgd_reg = SGDRegressor()
knn_reg = KNeighborsRegressor()
mlp_reg = MLPRegressor()
decisionTree_reg = DecisionTreeRegressor()
extTree_reg = ExtraTreeRegressor()
gb_reg = GradientBoostingRegressor()
svc_reg = LinearSVC()
svr_reg = LinearSVR()
ard_reg = ARDRegression()

In [96]:
pipeline_reg1 = Pipeline(pipeline_preprocessing + [('linear_reg', linear_reg)])
regression_score1 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg1)
print("linear_reg: ")
print(regression_score1)

pipeline_reg2 = Pipeline(pipeline_preprocessing + [('logistic_reg', logistic_reg)])
regression_score2 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg2)
print("logistic_reg: ")
print(regression_score2)

pipeline_reg3 = Pipeline(pipeline_preprocessing + [('sgd_reg', sgd_reg)])
regression_score3 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg3)
print("sgd_reg: ") 
print(regression_score3)

pipeline_reg4 = Pipeline(pipeline_preprocessing + [('knn_reg', knn_reg)])
regression_score4 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg4)
print("knn_reg: ")
print(regression_score4)

pipeline_reg5 = Pipeline(pipeline_preprocessing + [('mlp_reg', mlp_reg)])
regression_score5 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg5)
print("mlp_reg: ")
print(regression_score5)

pipeline_reg6 = Pipeline(pipeline_preprocessing + [('decisionTree_reg', decisionTree_reg)])
regression_score6 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg6)
print("decisionTree_reg: ")
print(regression_score6)

pipeline_reg7 = Pipeline(pipeline_preprocessing + [('extTree_reg', extTree_reg)])
regression_score7 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg7)
print("extTree_reg: ")
print(regression_score7)

pipeline_reg8 = Pipeline(pipeline_preprocessing + [('gb_reg', gb_reg)])
regression_score8 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg8)
print("gb_reg: ")
print(regression_score8)

pipeline_reg9 = Pipeline(pipeline_preprocessing + [('svc_reg', svc_reg)])
regression_score9 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg9)
print("svc_reg: ")
print(regression_score9)

pipeline_reg10 = Pipeline(pipeline_preprocessing + [('svr_reg', svr_reg)])
regression_score10 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg10)
print("svr_reg: ")
print(regression_score10)

pipeline_reg11 = Pipeline(pipeline_preprocessing + [('ard_reg', ard_reg)])
regression_score11 = utils.fit_and_score(all_X, labels, splitter, pipeline_reg11)
print("ard_reg: ")
print(regression_score11)

# --add no.

linear_reg:
         r2       mse Olympics Year
0  0.783202  71.90769    2016-08-05

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

logistic_reg:
         r2         mse Olympics Year
0  0.327701  222.988372    2016-08-05
sgd_reg:
             r2           mse Olympics Year
0 -1.520611e+25  5.043570e+27    2016-08-05
knn_reg:
         r2        mse Olympics Year
0  0.775566  74.440465    2016-08-05

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

mlp_reg:
         r2        mse Olympics Year
0  0.785724  71.071215    2016-08-05
decisionTree_reg:
         r2        mse Olympics Year
0  0.773984  74.965116    2016-08-05
extTree_reg:
         r2        mse Olympics Year
0  0.763081  78.581395    2016-08-05
gb_reg:
         r2        mse Olympics Year
0  0.786663  70.759802    2016-08-05
svc_reg:
         r2         mse Olympics Year
0  0.182738  271.069767    2016-08-05
svr_reg:
        r2        mse Olympics Year
0  0.77825  73.550178    2016-08-05
ard_reg:
         r2        mse Olympics Year
0  0.795711  67.758564    2016-08-05

/usr/local/lib/python3.8/dist-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
/usr/local/lib/python3.8/dist-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

# check the importance score of selected features (o c n-

In [ ]:

feature_imp = utils.get_feature_importances(pipeline_reg8, # EDIT: model name
#                                              all_features,
                                            all_features.iloc[:, feature_id], # edit here to check the score of selected features
                                            labels, splitter, 300)
 
test_date = pd.Timestamp('08/05/2016')
feature_imp[test_date].reset_index(drop=True)